<?xml version="1.0" encoding="utf-8" ?>

<routes>
    <!--front-->
    <route path="" action="index" controller="PostController"/>
    <route path="article" action="article" controller="PostController" params="id"/>

    <!-- admin -->
    <route path="account" action="account" controller="UsersController"/>
    <route path="admin" action="admin" controller="UsersController"/>

    <!-- security-->
    <!-- <route p="login" controller="SecurityController" action="login"/>
     <route p="logout" controller="SecurityController" action="logout"/>
     <route p="signup" controller="SecurityController" action="signup"/> -->

 </routes>